body {
    background-color: #deeffa !important;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(203, 218, 252, 0.6)6), rgba(210, 227, 255, 0.6);
    background-size: 1600px;
    background-position: center;
    color: rgb(168, 203, 252) !important;
}

.services {
    margin: 40px auto;
    text-align: center;
}

.services h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(243, 243, 243);
    letter-spacing: 1px;
    font-size: 30px;
}

.services h1::after {
    content: '';
    background: #7cadfd;
    display: block;
    width: 150px;
    height: 3px;
    margin: 5px auto;
}

.icon {
    font-size: 20px;
    margin: 130px auto;
    padding: 15px;
    height: 60px;
    width: 60px;
    border: 2px solid rgb(228, 233, 255);
    border-radius: 50%;
}

.col-md-2 {
    align-items: center;
    position: relative;
    margin-left: 98px;
    font-size: medium;
    margin-top: -12vh;
    transition: 0.5s ease;
}

.col-md-2:hover {
    box-shadow: 5px, 7px, 9px, -3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .heading {
        padding: 0px 20px;
    }
    .heading h1 {
        font-size: 36px;
    }
    .container {
        padding: 0px;
    }
}