<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VIAA Threat Intel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap">
    <link rel="stylesheet" href="../static/css/test.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>

<body>
    <nav>
        <label class="logo">VIAA Threat Intel</label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <div class="tab-wrapper">

        <div class="tab-container">
            <div class="tab" onclick="showTab(1)">URL</div>
            <div class="tab" onclick="showTab(2)">File </div>
        </div>

        <div class="tab-content">

            <div class="search-bar">
                <input type="text" placeholder="Search IP" name="q" id="search-box">
                <button type="submit" onclick="checkentity()"><img id="search-button" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png"></button>

            </div>
        </div>

        <div class="tab-content" id="fileUpload">
            <div class="fileUpload-wrapper">
                <center id="file-wrapper">
                    <!-- <img src="../static/images/upload.png"> -->

                    <div class="fileUploadText">
                        <input type="file" id="fileInput" name="file" hidden><br>
                        <label for="fileInput" id="fileInput-label">Choose File</label><br>
                        <input type="button" value="Upload" id="uploadButton" onclick="uploadFile()">
                    </div>

                    <!-- <div class="upload-btn-wrapper">
                        <button class="btn">Upload a file</button>
                        <input type="file" name="myfile" />
                    </div> -->
                </center>
                <div id="progress-wrapper">

                    <div class="progress-bar">
                        <div id="progress">
                        </div>
                    </div>
                    <div id="response"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="card center-text">
        <p id="result-text"></p>
    </div>

    <script src="../static/js/index.js"></script>
</body>

</html>