<!DOCTYPE html>
<html lang="en">

<head>
    <title>Services</title>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/path/to/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="../static/css/test.css" /> -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
    <nav>
        <label class="logo">VIAA Threat Intel</label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a class="active" href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="services">
        <h1>Our Services</h1>
    </div>

    <div class="row">
        <div class="col-md-2 text-center">
            <div class="icon">
                <ion-icon name="search-outline"></ion-icon>
            </div>
            <p>
                The platform delivers real-time insights into the security status of IP addresses and URLs, promptly determining whether they pose a malicious threat or are safe to navigate.
            </p>
        </div>

        <div class="col-md-2 text-center">
            <div class="icon">
                <ion-icon name="document-outline"></ion-icon>
            </div>
            <p>
                Conducting thorough database checks, and different online platforms like Virustotal, the platform offers a meticulous analysis of specific files, providing users with clear and concise information about the potential risks associated with those files.
            </p>
        </div>

        <div class="col-md-2 text-center">
            <div class="icon">
                <ion-icon name="alert-outline"></ion-icon>
            </div>
            <p>
                Keeping users informed, the platform goes beyond mere threat detection, providing a valuable service by delivering up-to-date threat intelligence news.
            </p>
        </div>

        <div class="col-md-2 text-center">
            <div class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
            </div>
            <p>
                Acting as a centralized hub, the platform seamlessly integrates a vast database alongside online resources, offering users a comprehensive and efficient means to assess potential threats.
            </p>
        </div>
    </div>
</body>

</html>